
.navbar-vertical .navbar-nav .nav-item .nav-link {
    color: #21262a !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active {
    /* color: #5d686f !important; */
    color: #d52b1e !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #dfdfd8 !important;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/*==========  [ Animation ]=========*/ 
.bounceme {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.shine {
    /* background: linear-gradient(45deg, #2980b9, #3498db); */
    position: relative;
}

.shine::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    top: 0;
    left: -100%;
    transition: left 0.5s;
}

.shine:hover::before {
    left: 100%;
}

.bounce:hover {
    transform: translateY(-5px);
}

.grow:hover {
    transform: scale(1.05);
}

.service-case:hover .service-case-arrow svg, .service-card:hover .service-card-arrow svg, .service-line:hover .service-line-arrow svg, .service-box:hover .service-box-arrow svg, .swiper-button-next:hover svg {
    -webkit-animation: animate-icon-right 225ms linear forwards;
            animation: animate-icon-right 225ms linear forwards;
}

.service-box {
    padding: 35px 30px;
}
.service-box-arrow:hover {
color: #F01F4B;
}

.service-box-sm {
padding: 35px 25px 50px;
}

.lift {
    -webkit-transition: -webkit-transform 150ms linear;
    transition: -webkit-transform 150ms linear;
    transition: transform 150ms linear;
    transition: transform 150ms linear, -webkit-transform 150ms linear;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    will-change: transform;
}
.lift:hover {
-webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
}
  
.bg-gray-light {
    background-color: #F5F5F7 !important;
}

.bg-accent-2 {
    background-color: #481FA0 !important;
}

.circle-icon {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.circle-icon-sm {
    width: 60px;
    height: 60px;
}

.fade-in-section {
    /* opacity: 0;
    transition: opacity 0.5s ease-in; */
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-right {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0);
}
  