
.navbar-vertical .navbar-nav .nav-item .nav-link {
    color: #21262a !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active {
    /* color: #5d686f !important; */
    color: #d52b1e !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #dfdfd8 !important;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/*==========  [ Animation ]=========*/ 
.bounceme {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.shine {
    /* background: linear-gradient(45deg, #2980b9, #3498db); */
    position: relative;
}

.shine::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    top: 0;
    left: -100%;
    transition: left 0.5s;
}

.shine:hover::before {
    left: 100%;
}

.bounce:hover {
    transform: translateY(-5px);
}

.grow:hover {
    transform: scale(1.05);
}